<div class="col-sm-12 col-lg-4 mb-3">
  <div id="memorymemory_item-id-<%=memory_item.id %>">
    <div class="card">
      <%= image_tag "memory_item_placeholder.png", class: "card-img-top", width: "300", height:"200" %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to memory_item.name, '#' %>
          </h4>
          <div class='ms-auto'>
            <%= link_to '#', id: 'button-edit-#{memorymemory_item.id}' do %>
              <i class="bi bi-pencil-fill"></i>
            <% end %>
            <%= link_to '#', id: 'button-delete-#{memorymemory_item.id}', method: :delete, data: {confirm: ''} do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </div>
        </div>
        <ul class="list-inline">
          <li><i class="bi bi-person"></i><%=memory_item.user.name %></li>
        </ul>
        <p class="card-text"><%=memory_item.memory %></p>
      </div>
    </div>
  </div>
</div>